


<div class="container">
  <div class="row">
  	<div class="col-sm">
  	 <h3>Hi, my name is Andreas Åker 	</h3>
     <p>Junior web developer</p>
     <h5>Tools i use the most</h5>
     <p>Ruby, Rails, JS, Jquery, HTML, CSS, Sass</p>
	  </div>
  </div>
  <div class="row">
    <div class="col-sm" id="projects">
    <h5>Projects:</h5>
    	<% if @projects.any? %>
  			<%= render partial: "projects/projects", locals: {projects: @projects} %>
		  <% end %>
    </div>
  </div>
</div>



<% if logged_in? %>
	<%= render partial: "projects/project_form", locals: {project: @project} %>
<% end %>