<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<div id="projects">
<% if @projects.any? %>
  <%= render partial: "projects/projects", locals: {projects: @projects} %>
<% end %>

</div>


<br>

<%= link_to 'New Project', new_project_path %>



<%= render partial: "projects/project_form", locals: {project: @project} %>
